.App {
  text-align: left;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  height: 65px;
  color: #282c34;
}

.App-header h1 {
  font-size: 24px;
}

.layout {
  display: grid;
  grid-template-columns: minmax(400px, 50%) minmax(400px, 50%);
}

.layout__block-50 {
  min-height: calc(100vh - 65px);
  padding: 16px;
}

.layout__block-50:first-of-type {
  border-right: 1px solid #f5f5f5;
}
